
/* ПЕРША ЧАСТИНА ДОМАШНЬОГО */

@font-face {
    font-family: Roboto-Regular ;
    src: url(./assets/fonts/Roboto-Regular.ttf)
    format(TrueType);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:Raleway-Bold;
    src: url(assets/fonts/Raleway-Bold.ttf)
    format(TrueType);
     font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

.aMain1 {color: #2196F3;
     font-family:Raleway-Bold;
    }

    .Studio {
         font-family: Roboto-Regular;
        
    }

.ULmain1{
    font-family: Roboto-Regular ;
    display: flex;
}

.gmail {
   font-family: Roboto-Regular;
}

.Tel1 {
    font-family: Roboto-Regular;
    color: #757575;
}

table {
    font-family:Roboto-Regular ;
    font-size:14px;
}

ul {
    list-style: none;
}
.Body1 {
    /* {width: 1600px; margin: 0 auto; */
}

span {
    color: #000000;
    }


.sectionMain1 {
    background-color:#2F303A;
     /* height: 600px; width: 1600px; */
      color: white;
       margin: 0 auto;
         padding: 200px 0;
    }


.h1 {
    text-align: center;
     font-family:Roboto-Regular;
     height:60px ;
    }

#button1 
{background-color: #2196F3;
     color: white;
      width: 150px; height: 40px;
      font-family:Roboto-Regular;
      border-radius:4px;
    }

    .h2 {
        font-family: Roboto-Regular ;
        font-size: 42px;
    }

    .H2 {
        font-family: Roboto-Regular;
        font-size: 42px; 
    }

    .sectionMain2 {
        font-family:Roboto-Regular ;
        padding-top: 94px;
        padding-bottom: 94px;
    }

.ULmain3 img {
     height: 260px; width: 270px; 
}

.footerMain {
    background-color:#2F303A;
     color: white;
      /* height: 300px; width: 1600px; */
    }
 */

.aMain2 
{
    color:#2196F3;
    font-family:Raleway-Bold;
}


.Tel2 {
    color:#757575;
    font-family:Roboto-Regular ;
}


td > p {
    font-family:Roboto-Regular;
}


.mailto {
    color: #757575;
    font-family: Roboto-Regular;
}

#p {
    font-family: Roboto-Regular;
}



/* ПОРТФОЛІО */

.a1 {
   color: #2196F3;
   font-family: Raleway-Bold;
}

span {
    font-family: Raleway-Bold;
}

.Uli2 {
    font-family:Roboto-Regular;
}

.a3 {
    color:#2196F3 ;
    font-family:Roboto-Regular
}

.TelM {
    color:#757575 ;
    font-family:Roboto-Regular
}

.Uli3 {
    font-family:Roboto-Regular
}

.style p{
    color: #757575;
}

.style {
    font-family:Roboto-Regular ;
}

.footer2 {
    background-color:#2F303A
    ; color: white;
     height: 300px; width: 1600px;
}

.telF3 {
    color: #757575;
    font-family: Roboto-Regular;
}

.a2 {
   color: #2196F3;
   font-family: Raleway-Bold;
}

#p {
    font-family:Roboto-Regular ;
}

.a3 {
    color: #2196F3;
}

.a4 {
    color: #757575;
    font-family: Roboto-Regular;
}

.telF3 {
    color: #757575;
    font-family: Roboto-Regular;
}

.Uli2 a {
    color: #000000;
}

.Uli3 a {
    color: #000000;
}

.img {
    height: 260px; width: 270px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: block;
    width: 216px;
    height: 50px;
    margin: 0 auto;
}

.aMain1 {
    font-family: Raleway-Bold;
}

.displayFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ULmain2 {
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.ULmain2 li {
    margin-right: 30px;
}
.ULmain1 li{
    margin-right: 30px;
}
header {
    padding-top: 32px;
    padding-bottom: 32px;
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    color: white;
    padding-left: 215px;
    padding-right: 1249x;
}
.aFooter {
    color: #0091ff;
    font-family: Raleway-Bold;
    font-size: 26px;
     padding-left: 215px;
    padding-right: 1249x;
    
}